<div class="row align-items-center flex-column checkout-header" data-hook="checkout_header">
  <div class="text-uppercase checkout-header-title">
    <h1 data-hook="checkout_title"><%= Spree.t('checkout_page.header') %></h1>
  </div>
  <div class="checkout-progress" data-hook="checkout_progress" role="navigation" aria-label="<%= Spree.t('checkout_page.checkout_navigation') %>">
    <%= checkout_progress %>
  </div>
</div>
